absl-py==2.0.0
appdirs==1.4.3
apturl==0.5.2
attrs==19.3.0
Automat==0.8.0
blinker==1.4
Brlapi==0.7.0
cachetools==5.3.1
certifi==2019.11.28
chainer==7.8.1
chardet==3.0.4
Click==7.0
cloud-init==23.1.2
cmake==3.26.4
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
Cython==0.29.36
dbus-python==1.2.16
defer==1.0.6
dgl==1.1.1+cu117
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docopt==0.6.2
entrypoints==0.3
exceptiongroup==1.1.3
fail2ban==0.11.1
filelock==3.0.12
-e git+https://github.com/puigde/gnn_accel.git@ebdc1f6c7b9a493d97080cf9ba27c403eabe60dd#egg=gnn_accel
google-auth==2.23.2
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.58.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==6.8.0
incremental==16.10.1
iniconfig==2.0.0
Jinja2==2.10.1
joblib==1.3.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lit==16.0.6
louis==3.12.0
Markdown==3.4.4
MarkupSafe==2.1.3
more-itertools==4.2.0
mpmath==1.3.0
netifaces==0.10.4
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.1.0
olefile==0.46
packaging==23.1
pexpect==4.6.0
Pillow==7.0.0
pipreqs==0.4.13
pluggy==1.3.0
protobuf==4.24.3
psutil==5.9.5
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycups==1.9.73
pyg-lib==0.2.0+pt20cu117
PyGObject==3.36.0
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==3.1.0
PyQt5==5.14.1
pyrsistent==0.15.5
PySCIPOpt==4.1.0
pyserial==3.4
pytest==7.4.2
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rsa==4.9
scikit-learn==1.3.0
scipy==1.10.1
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
sip==4.19.21
six==1.14.0
sos==4.4
ssh-import-id==5.10
sympy==1.12
systemd-python==234
tensorboard-data-server==0.7.1
threadpoolctl==3.2.0
tomli==2.0.1
torch==2.0.1
torch-cluster==1.6.1+pt20cu117
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.1
triton==2.0.0
Twisted==18.9.0
typing-extensions==4.7.1
ubuntu-advantage-tools==27.11.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
virtualenv==20.0.17
wadllib==1.3.3
werkzeug==2.3.7
xkit==0.0.0
yarg==0.1.9
zipp==1.0.0
zope.interface==4.7.1
